<div class="card" style="width: 18rem;">

  <div class="card-header d-flex">
    <h2>All boards</h2>
  <button class="btn btn-outline-success ms-auto">
  Add a new board
</button>
</div>
  <ul class="list-group list-group-flush">
    <% @list_of_boards.each do |a_board| %>
      <li class="list-group-item">
        <a href="/boards/<%= a_board.id %>" style="text-decoration: none; color: black">
          <%= a_board.name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
